!.gitignore

# IntelliJ
.idea/
*.iml

# eclipse
.settings/
.project
.classpath
/bin/

# Project
**/.staging
**/build/skel/

*.rpm
*.deb
*.tar.gz

# Others
.DS_Store

# Any internal terraform files
**/.terraform*
**/terraform.tfstate
**/terraform.tfstate.backup
test/terraform_linux_vm/**/*.pem

